

.main {
  min-height: 87vh;
  background-color: hsl(0, 0%, 21%)
}

.main h1{
  font-size: 3em;
  font-weight: bold;
  color: #000;
}

.player-list ul li{
  list-style-type: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #363636;
  justify-content: center;
  align-items: center;
  background: #363636;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}